<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>וולנטיל</h1>
    <h4>שלום, עדי!</h4>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="#" mat-button>ההתנדבויות שלי</a>
      <a href="#" mat-button>כל ההתנדבויות</a>
      <a href="#" mat-button>איזור אישי</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>