<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{eventToShow.name}}</mat-card-title>
      <mat-card-subtitle>{{eventToShow.type.name}} </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>location_on</mat-icon>{{eventToShow.address.city.name}}
        <mat-icon>date_range</mat-icon>{{eventToShow.date | date : 'dd/MM/yyyy hh:mm'}} 
      </mat-card-subtitle>
    </mat-card-header>
     <mat-card-content>
      <p>
        {{eventToShow.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button mat-button color="primary" (click)="openDialog()">בא לי להירשם!</button>
    </mat-card-actions>
  </mat-card>