<h1>
    תודה רבה!
    <mat-icon>local_florist</mat-icon>
</h1>
<br>
<mat-divider></mat-divider>
<div>אנחנו מודים לך מעומק ליבנו על ההירתמות בזמנים קשים אלו</div>
<div>בדקות הקרובות יישלח אליך מייל עם הפרטים המלאים :)</div>
<div>
    <img src="../../../assets/images/todaa.png">
    <br>
    <button mat-dialog-close mat-button color="primary">מעולה!</button>
    <button mat-dialog-close mat-button color="warn">סליחה, התחרטתי..</button>
</div>
